<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.symo.model.editor.registry.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="de.symo.model.editor.registry.tree.e4.E4ExecutableExtensionFactory:de.symo.model.editor.registry.ui.parts.RegistryEditorView"
            id="de.symo.model.editor.registry.tree.e4"
            name="Registry Editor"
            restorable="true">
      </view>
   </extension>
</plugin>
