<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symo -->
      <package
            uri="http://www.dlr.de/symo4pd/model/2016/"
            class="de.symo.model.symo.SymoPackage"
            genModel="model/symo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symo_element -->
      <package
            uri="http://www.dlr.de/symo4pd/element/2016/"
            class="de.symo.model.element.ElementPackage"
            genModel="model/symo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symo -->
      <package
            uri="http://www.dlr.de/symo4pd/registry/2016/"
            class="de.symo.model.registry.RegistryPackage"
            genModel="model/symo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symo -->
      <package
            uri="http://www.dlr.de/symo4pd/usecasel/2016/"
            class="de.symo.model.usecase.UsecasePackage"
            genModel="model/symo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symo_element -->
      <package
            uri="http://www.dlr.de/symo4pd/base/2016/"
            class="de.symo.model.base.BasePackage"
            genModel="model/symo.genmodel"/>
   </extension>

</plugin>
