<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.symo.application"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://de.symo.application/de.symo.application.e4.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="de.symo.application">
         </property>
         <property
               name="appName"
               value="de.symo.application">
         </property>
      </product>
   </extension>

</plugin>
