<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="oida.bridge.model.renamerstrategy">
      <client
            class="de.symo.oida.strategy.renamer.SymoRenamerStrategy">
      </client>
   </extension>
   <extension
         point="oida.bridge.model.structuringstrategy">
      <client
            class="de.symo.oida.strategy.structuring.SymoStructuringStrategy">
      </client>
   </extension>

</plugin>
